

<!-- <mat-drawer-container class="example-container">
	<mat-drawer mode="side" opened>Drawer content</mat-drawer>
	<mat-drawer-content>Main content</mat-drawer-content>
      </mat-drawer-container> -->
      <!-- <div style='position: relative; top: 0; height: 100%; width: 200px; display: inline-block; background-color: rgb(2, 88, 168);' (onLoad)="sidenav.open()">
	
	<mat-list>
		<mat-list-item>Kasi Detectives</mat-list-item>
	</mat-list>
	<mat-divider></mat-divider>
    
    <mat-list role="list">
	<mat-list-item role="listitem" tappable>Item 1</mat-list-item>
	<mat-list-item role="listitem">Item 2</mat-list-item>
	<mat-list-item role="listitem">Item 3</mat-list-item>
      </mat-list>


      </div> -->
      <!-- -->
      <div style='border: 1px solid rgb(0,0,0); width: 20%; display: block; float: left'>
	<mat-list>
		<mat-list-item>
			one
		</mat-list-item>
	</mat-list>
      </div>
      <div style='border: 1px solid rgb(0,0,0); width: 60%; display: block; float:left;'>
		<mat-button-toggle-group style="margin-bottom: 5px;">
		
				<mat-button-toggle routerLink="users" value="left" aria-label="Text align left">
					Users
				       </mat-button-toggle>
				       <mat-button-toggle routerLink="users" value="left" aria-label="Text align left">
					Users
				       </mat-button-toggle>
				       <mat-button-toggle routerLink="users" value="left" aria-label="Text align left">
					Users
				       </mat-button-toggle>
			      
			      </mat-button-toggle-group>
			      <mat-divider></mat-divider>
      </div>
       


      
<router-outlet></router-outlet>
